<!DOCTYPE html>
<html>
<head>
  <title>Help | Sample App</title>
</head>
<body>
<h1>Help</h1>
<p>
  This is the Simple App help page. For more information, visit
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails</em> Tutorial</a>.
</p>
</body>
</html>