<!DOCTYPE html>
<html>
<head>
  <title>Home | Sample App</title>
</head>
<body>
<h1>Sample App</h1>
<p>
  This is the home page for a
  <a href="http://www.railstutorial.org/">Ruby on Rails</a>
  sample application.
</p>
</body>
</html>